/* src/componenti/calendario.css */

.day-cell-dots {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 3px;
  gap: 3px;
  height: 14px;
  overflow: hidden;
}

.event-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

