.fc-daygrid-event-harness {
  display: inline-block;
  margin: 0 1px;
  padding: 0;
  height: 8px;
  overflow: hidden;
  line-height: 1;
}

.fc-event-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: currentColor;
  margin: 0 1px;
}
